body {
    color:#3a88de;
    background-color: #f4f4f4;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.6em;
    letter-spacing: 0.4em;
}

p {
    font-family: 'Raleway', sans-serif;
    color:#3a88de;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.center-text {
    text-align: center;
}

.copyright {
    margin-top: 3rem;
    border-top: 1px solid #3a88de;
    font-size: 0.8em;
}